<?xml version="1.0" encoding="utf-8" ?>
<!-- このファイルは実行ファイルと同じディレクトリに置く -->
<Types>
  <Type name="UWP store" folderName="Assets">
    <Image x="50" y="50">StoreLogo.scale-100.png</Image>
    <Image x="63" y="63">StoreLogo.scale-125.png</Image>
    <Image x="75" y="75">StoreLogo.scale-150.png</Image>
    <Image x="100" y="100">StoreLogo.scale-200.png</Image>
    <Image x="200" y="200">StoreLogo.scale-400.png</Image>
  </Type>
  
  <Type name="UWP badge" folderName="Assets">
    <Image x="24" y="24">badge.scale-100.png</Image>
    <Image x="30" y="30">badge.scale-125.png</Image>
    <Image x="36" y="36">badge.scale-150.png</Image>
    <Image x="48" y="48">badge.scale-200.png</Image>
    <Image x="96" y="96">badge.scale-400.png</Image>
  </Type>

  <Type name="UWP list" folderName="Assets">
    <Image x="44" y="44">Square44x44Logo.scale-100.png</Image>
    <Image x="55" y="55">Square44x44Logo.scale-125.png</Image>
    <Image x="66" y="66">Square44x44Logo.scale-150.png</Image>
    <Image x="88" y="88">Square44x44Logo.scale-200.png</Image>
    <Image x="176" y="176">Square44x44Logo.scale-400.png</Image>
  </Type>

  <Type name="UWP small" folderName="Assets">
    <Image x="71" y="71">Square71x71Logo.scale-100.png</Image>
    <Image x="89" y="89">Square71x71Logo.scale-125.png</Image>
    <Image x="107" y="107">Square71x71Logo.scale-150.png</Image>
    <Image x="142" y="142">Square71x71Logo.scale-200.png</Image>
    <Image x="284" y="284">Square71x71Logo.scale-400.png</Image>
  </Type>

  <Type name="UWP normal and large" folderName="Assets">
    <Image x="150" y="150">Square150x150Logo.scale-100.png</Image>
    <Image x="188" y="188">Square150x150Logo.scale-125.png</Image>
    <Image x="225" y="225">Square150x150Logo.scale-150.png</Image>
    <Image x="300" y="300">Square150x150Logo.scale-200.png</Image>
    <Image x="600" y="600">Square150x150Logo.scale-400.png</Image>

    <Image x="310" y="310">Square310x310Logo.scale-100.png</Image>
    <Image x="388" y="388">Square310x310Logo.scale-125.png</Image>
    <Image x="465" y="465">Square310x310Logo.scale-150.png</Image>
    <Image x="620" y="620">Square310x310Logo.scale-200.png</Image>
    <Image x="1240" y="1240">Square310x310Logo.scale-400.png</Image>
  </Type>

  <Type name="UWP wide and splash" folderName="Assets">
    <Image x="310" y="150">Wide310x150Logo.scale-100.png</Image>
    <Image x="388" y="188">Wide310x150Logo.scale-125.png</Image>
    <Image x="465" y="255">Wide310x150Logo.scale-150.png</Image>
    <Image x="620" y="300">Wide310x150Logo.scale-200.png</Image>
    <Image x="1240" y="600">Wide310x150Logo.scale-400.png</Image>

    <Image x="620" y="300">SplashScreen.scale-100.png</Image>
    <Image x="775" y="375">SplashScreen.scale-125.png</Image>
    <Image x="930" y="450">SplashScreen.scale-150.png</Image>
    <Image x="1240" y="600">SplashScreen.scale-200.png</Image>
    <Image x="2480" y="1200">SplashScreen.scale-400.png</Image>
  </Type>

  <Type name="UWP targetsize altform-unplated" folderName="Assets">
    <Image x="16" y="16">Square44x44Logo.targetsize-16_altform-unplated.png</Image>
    <Image x="24" y="24">Square44x44Logo.targetsize-24_altform-unplated.png</Image>
    <Image x="32" y="32">Square44x44Logo.targetsize-32_altform-unplated.png</Image>
    <Image x="48" y="48">Square44x44Logo.targetsize-48_altform-unplated.png</Image>
    <Image x="256" y="256">Square44x44Logo.targetsize-256_altform-unplated.png</Image>
  </Type>
</Types>